<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>

<body>
	    
			<table>
		<% @cust.each do |customer| %>
		<tr>
			<td><%= customer.name %></td>
			<td><%= customer.last_name %></td>
			<td><%= customer.document_number %></td>
			<td><%= customer.birthdate %></td>
                 <td><%= customer.name %></td>
             <td><%= link_to 'Editar', edit_customer_path(customer) %></td>
		</tr>
		<% end %>
	</table>
	<%= link_to 'Registrar nuevo customer', new_customer_path %>

</body>
</html>