<h3 class="label-grande"> Datos y Estadisticas: </h3>
			<div class="container-statics"><div> Nombre y Apellido: <%= @customer.name%> <%=@customer.last_name%></div>
			
			<div>DNI: <%=@customer.document_number %></div>
			<div>Fecha de Nacimiento: <%= @customer.birthdate %> </div>
			<div>cuil/cuit: <%=@customer.cuil_cuit%></div><br>
                 <!--<div><%= link_to 'Eliminar', customer_path(@customer),method: :delete %> <%= link_to 'Editar', edit_customer_path(@customer)%></div>-->
	<% @contact.each do |cont| %>
	<div>Tipo de contacto:     <%= cont.type_contact %></div>
	<div>Contacto:     <%= cont.contact_value %></div>
	<br>
		<% end %> 
	<h3> La edad de <%= @customer.name %> es <%= @edad %></h3>
	<h3>El monto total facturado por año</h3>
	<% @montoPorAño.each do |año| %>
	<div>En <%=año[0]%> facturó:  $<%= año[1] %> </div>
	<% end %>
	<h3>La cantidad de facturas que el cliente facturo en el corriente año</h3>
	 <% @montoPorMes.each do |mes| %>
       <div>En <%=mes[0]%> facturó:  <%= mes[1] %> Facturas. </div>
	 <end>
	 <% end %>
	 <h3>Las 5 personas a las que más les ha facturado ese cliente.</h3>
	 <%  @top5personas.each do |persona| %>
	 <div>  <%=persona[0]%>    ---       $<%= persona[1] %> </div>
	 <% end %> 
	 </div>
		<%= link_to 'Volver', customers_path ,:class => 'volver-class5'%>